/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/pU5rv7mgzMiY.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/hJZ1SlXSkhbQ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/t08ZNfQ0bcei.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/uwgh4xPo0pbn.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/NPnG9gosD318.otf') format('truetype');
}