/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/UwAsWeUUrOmy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/dD4l88iPJTK4.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/UVjNo6zT1EBD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/kgNX81Z5PshC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ARR5IK80cwPs.otf') format('truetype');
}