/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/PeT5YyoyMK5c.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Mz2f7LopSoqP.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/btPlESAEwgLC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/uPFVVejEtKEt.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/7LEv2YkInFWX.otf') format('truetype');
}