/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/3i0ARTC5OtHa.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/p6HHuzsa3xP5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/H5hFIgMmZZLw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/0XibaUYs00kj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/MNJoIQqG5o8s.otf') format('truetype');
}