/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/tb6t5rP7Lb39.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/rh59jDWuVMAk.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/xM5bdoLVtEFI.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/6xeDcFaUl24M.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/gyMQzlorruaf.otf') format('truetype');
}