/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/hRUJNY93RB00.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/px2ns0pEGVNY.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/ZpjHnSfShAMv.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/mXYZbJg0ApqL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/BEX5RcoBMiGH.otf') format('truetype');
}