/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/mBhB4ub8k7ZA.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/2rOz2LT2IWTB.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/hzYn41hey0mo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/wmH3UiU7vdWo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/IVTrfyk1yooE.otf') format('truetype');
}