/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/hLCTtmoeNOdD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/41Ju6yU0mcob.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/NJgDg4S3dIER.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/vUD6WeecDv3v.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/5zmGJoTGEaG1.otf') format('truetype');
}