/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/aPcSBo7UYt6t.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/J4vqjCSfgKqP.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/LwSHcCM2Crhw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/Fu2LasEy72Lc.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/H9ga7Qa4tAvA.otf') format('truetype');
}