/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/u5HCsiCGkqTQ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/BJrsSHz2U6oJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/oGH7rSneGWEL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/2iJu4PjfA7NG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/XivasnJAXLw3.otf') format('truetype');
}