/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/AJ4Myk0s74fW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/MlBbdEaBS0Wr.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/qcfQM7KfOqim.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/t7rL7BGDgIOn.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/HBbVClAeXol0.otf') format('truetype');
}