/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/s62BUYALqo7M.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/pDq4pPC5qFKF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/as8gMRnfNRQD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/opuh0NbSasxh.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/qdBLVJgKkmjL.otf') format('truetype');
}