/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/FXDHyuns3jyg.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/0FOpub6HcIDW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/EG8lQEOKoeMe.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/Q5QWxtn3zUMl.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/2fQt6GQZHVvy.otf') format('truetype');
}