/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/kK5U5iHPlYsu.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/jEdZXQBEJgl6.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/1aYkkhaXfaTF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/RXyZBcEExizG.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ZsbrGdjNueL0.otf') format('truetype');
}