/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/hYl2bdylvv59.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/khvWmOM0i7LD.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/qn5Ncs98JIlF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/4iUSRq1kLiZw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ktqwLhpaePby.otf') format('truetype');
}