/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/9BwAaylEnsa5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/EO9lcvVKUg5D.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/yLe0woji84Dn.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/Gm6UZBaeY67c.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/vmfDyNbQ4J1q.otf') format('truetype');
}