/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/fJoOkRgvICKo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/kZoJF2h6U2Yo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/gHQf1GhkuctN.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/BAlPwboOoyEy.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/ySEl1fwWjRub.otf') format('truetype');
}