/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/N08WScoCo1Lt.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/CT8sw4HPjMr8.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/sFU4m5tcwrSv.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/CojnIx7OBWBh.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/MCCXPjIApZfN.otf') format('truetype');
}