/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/EBq8D9ShOytP.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/pH77tUgc2QcC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/JUw02d7skXb2.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/jrJysLWyrOL9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/aNLaQFSi60zm.otf') format('truetype');
}