/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/ZUoDZAD1rj7P.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/GawgX7D8UZdO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/O3dWDhrtict5.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/hE1tyzvT3UJa.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/66qDeFotwiQC.otf') format('truetype');
}