/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/wGW8fcv8Ytga.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/hqc4TX67gX0J.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/0JbRlei1308a.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/9oq1BuepBBfx.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Huyl2eJRlnfm.otf') format('truetype');
}