/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/SPlUxW4jMFrc.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Qehfm0cQguHd.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/d9RHNuuRZCrw.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/uUtRPtlCvLoc.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/QhwHTQj1OSeE.otf') format('truetype');
}