/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/PTarOHQqs5pp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/dZ9RHbeb09hp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/ZKIexfgIa8eY.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/jb7wEHnCjbnZ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/nJ8enEyFhQ6X.otf') format('truetype');
}