/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/uZ6qDlq1V5i8.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/gjmmZFYTyhy9.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/MFSLV21oZZYM.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/k7kCuNcyzVYo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/YcJeq9xg8zgh.otf') format('truetype');
}