/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/tKPchnpj1d0b.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/1Fvl3aY5uGGW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/xSt5VZ0N9TSF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/GRuuUKQEn9SL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/yEeeF1IDUTY5.otf') format('truetype');
}