/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/t3jTU141F4xi.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/CfrGQEbpiUyA.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/t3iijucQncnW.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/zaETZf7AX9Lb.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/TrlmIzquPQQK.otf') format('truetype');
}