/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/IQD6b6L27CeO.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/ypvSJCz01CSV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/GrVz6vxO7e4r.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/Nux3E5YzdzTt.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Pz397g44KoCu.otf') format('truetype');
}