/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/PMUTgCKBrPzm.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/Y6UtUhd8Wfx3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/JKT6s0VqkI22.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/ht5TrQfdd1wL.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/mJuIntXp5GFA.otf') format('truetype');
}