/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/fQT9FGfWGvyJ.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/dPxn3DSdG0xf.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/cJkHzRYifEJM.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/gX8htEhG4mbz.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/XCvMC6gNhUpT.otf') format('truetype');
}